.internet-screen {
  position: absolute;
  width: 800px;
  height: 600px;
  border: 2px solid #000;
  background-color: #C3C3C3;
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  z-index: 1001;
}

.internet-top-bar {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #010185, #0101b4);
  color: white;
  padding: 2px;
}

.in-win-explorer-buttons {
  background-color: #e0e0e0;
  color: #000;
  border: 1px solid #808080;
  box-shadow: -1px -1px 0 #fff, 1px 1px 0 #000;
  margin-left: 82%;
  cursor: pointer;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-explorer-buttons img {
  width: 12px;
  height: 12px;
}

.internet-screen-content {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.internet-tools {
  display: flex;
  background-color: #C3C3C3;
  color: #000;
  padding: 2px;
  border-bottom: 2px solid #808080;
}

.internet-tools p {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  margin: 0 10px;
  cursor: pointer;
}

.first-letter {
  text-decoration: underline;
}

.internet-url-bar {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: white;
  color: #111;
  border: 2px inset #2b2b2b;
  padding: 2px;
  margin: 2px;
}

.internet-url-bar p {
  margin: 0 5px;
  
}

.internet-url-bar {
  margin: 0 5px;
}

.internet-url-bar-address {
    background-color: #e0e0e0;
    color: #000;
    border: 1px solid #808080;
    box-shadow: -1px -1px 0 #fff, 1px 1px 0 #000;
    cursor: pointer;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.internet-content {
  flex-grow: 1;
  background-color: white;
  border: 2px inset #808080;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}