
  .id-proyects, .id-about-me, .id-contact, .id-tecnologies {
    display: flex;
    flex-direction: column; /* Cambia el flujo a vertical */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: baseline; /* Centra horizontalmente */
    padding: 1rem;
}

a {
  text-decoration: none;
  color: #0000a0;
}

h3 {
  line-height: 0.4;
}
.id-proyects img, 
.id-about-me img, 
.id-contact img, 
.id-tecnologies img {
   /* Espacio entre el ícono y el texto */
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.id-proyects p, 
.id-about-me p, 
.id-contact p, 
.id-tecnologies p {
    font-size: 0.65rem;
    margin: 0.5rem;
    cursor: pointer;
    width: 90px;
}

.icon-wrapper img {
  padding-right: 25px;
}

.win-98-taskbar {
  padding: 0.3rem;
  background-color: #C0C0C0;
  color: #111;
  font-size: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: inset 0px 2.5px 0 #ffffffde, inset -2.5px -1.5px 0 #000000d5;
  border: none;
}

.win-98-start-btn {
  display: flex;
  align-items: center; /* Alinea verticalmente el ícono y el texto */
  gap: 0.5rem; /* Espaciado entre el ícono y el texto */
  padding: 0.1rem 0.6rem;
  background-color: #C0C0C0; /* Fondo del botón Start */
  cursor: pointer;
  border-radius: 2px; /* Bordes ligeramente redondeados */
  border: none;
  width: 70px; /* Ancho del botón Start */
  box-shadow: inset 0px 2.5px 0 #ffffffde, inset -2.5px -1.5px 0 #000000d5;
}

.win-98-start-btn img {
  width: 1.6rem; /* Ajusta el tamaño del ícono */
  height: auto;
}

.win-98-start-btn p {
  margin: 0;
  font-size: 0.65rem; /* Tamaño del texto */
}

.win-98-time-date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.01rem 0.3rem;
  margin: 0.27rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  background-color: #A0A0A0;
  color: #111;
  font-size: 0.55rem;
  box-shadow: inset 1.5px 1.5px 0 #000000d5, inset -1.5px -1.5px 0 #ffffffde;
}

.clippy-asistant img {
  width: 8rem;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  bottom: 70px;
  right: 30px;
}
/* make the text globe look like the windows 98 text globe for the virutal assistants */
.clippy-text-globe {
  font-family: 'Tahoma', sans-serif;
  font-size: 0.8rem;
  width: 155px;
  color: #000;
  background-color: #e2f0a3;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  box-shadow: 1px 1px 0 #000, -1px -1px 0 #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  bottom: 200px;
  right: 120px;
}

.clippy-text-globe button {
  background-color: #ddeba0;
  border: 1px solid #363636;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'Tahoma', sans-serif;
  color: #000;
  padding: 0.1rem 0.3rem;
  width: 50%;
  border-radius: 5px;
  
}

.win-explorer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  z-index: 1001;
}

/* Outer frame of the window */
.win-explorer-frame {
  width: 400px;
  border: 2px solid #808080;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #000;
  background-color: #e0e0e0;
}

.win-explorer-top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  background: linear-gradient(to right, #000080, #0000a0);
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  box-shadow: inset -1px -1px 0 #404040, inset 1px 1px 0 #c0c0c0;
}

.win-explorer-buttons {
  background-color: #e0e0e0;
  color: #000;
  border: 1px solid #808080;
  box-shadow: -1px -1px 0 #fff, 1px 1px 0 #000;
  margin-left: 5px;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-explorer-buttons img {
  width: 12px;
  height: 12px;
}

.win-explorer-content {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #808080;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #000;
  color: #000;
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
}

.project-wrapper {
  display: inline-block;
  position: relative;
}

.project-1 {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.project-2 {
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}
.project-1 h3 {
  text-decoration: none 
}

.about-me-text {
  padding: 0.6rem;
  font-size: 0.8rem;
  text-align: left;
  font-family: "px_sans_nouveaux";
  height: 300px;
  overflow: auto;
  
}

.me-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0.5rem;
  box-shadow: 0px 0px 7px 0px #000000;

}

.highlight {
  font-weight: bold;
  color: #0000a0;  /* Color azul para resaltar */
}


.icon-image {
  position: absolute;
  display: block;

}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

